Repository JDaniloC/Reco, changes with the owners that .github/CODEOWNERS names for each.
All owners: @JDaniloC, @fpeduu, @Edu-p, @karensamara, @Vinicius-resende-cin

.github/CODEOWNERS:

* @JDaniloC
/fastapi_backend/ @JDaniloC @fpeduu @Edu-p
/nextjs_frontend/ @JDaniloC @karensamara @Vinicius-resende-cin
api/ @JDaniloC @fpeduu

Fix accept/reject agreement and header name
  nextjs_frontend/src/app/agreements/[cpfDevedor]/page.tsx
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
  nextjs_frontend/src/components/Loading/loading.tsx
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

E-mail feature implemented
  python_backend/email_utils.py
  python_backend/main.py
  python_backend/requirements.txt
  python_backend/templates/email.html
  python_backend/templates/reco.png
Owners: @JDaniloC

README update
  .github/assets/devices.png
  .github/assets/reco.svg
  .github/team/clara.png
  .github/team/danilo.png
  .github/team/eduardo.png
  .github/team/filipe.png
  .github/team/israel.png
  .github/team/karen.png
  .github/team/karlos.png
  .github/team/luana.png
  .github/team/vinicius.png
  .github/team/vitoria.png
  README.md
  nextjs_frontend/src/app/negociacao/[chatID]/contexts/chat-context.tsx
  nextjs_frontend/src/app/page.tsx
  nextjs_frontend/src/components/Header/header.tsx
  python_backend/.env.example
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin

Remove CPF from frontend
  README.md
  nextjs_frontend/src/app/agreements/[cpfDevedor]/components/TenantProfileCard/tenant-profile-card.tsx
  nextjs_frontend/src/app/agreements/components/AgreementCard/agreement-card.tsx
  nextjs_frontend/src/app/tenants/components/AddTenantModal/add-tenant-modal.tsx
  nextjs_frontend/src/app/tenants/components/DebtorCard/debtor-card.tsx
  nextjs_frontend/src/app/tenants/components/TenantModal/components/Modal-content.tsx
  nextjs_frontend/src/app/tenants/components/TenantModal/components/Modal-information.tsx
  nextjs_frontend/src/components/Header/components/NotificationCard/notification-card.tsx
  nextjs_frontend/src/components/Search/search.tsx
  nextjs_frontend/src/services/agreementGenerator.ts
  python_backend/email_utils.py
  python_backend/main.py
  python_backend/templates/email.html
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin

Implement import from superlogica CSV
  nextjs_frontend/src/app/api/tenants/import/route.ts
  nextjs_frontend/src/app/tenants/components/ImportTenantModal/import-tenant-modal.tsx
Owners: @JDaniloC, @fpeduu, @karensamara, @Vinicius-resende-cin

Remove tenants feature
  nextjs_frontend/src/app/api/tenants/route.ts
  nextjs_frontend/src/app/tenants/components/DebtorCard/debtor-card.tsx
  nextjs_frontend/src/app/tenants/components/TenantList/tenant-list.tsx
  nextjs_frontend/src/app/tenants/page.tsx
Owners: @JDaniloC, @fpeduu, @karensamara, @Vinicius-resende-cin

Update environment variables and configuration.
  README.md
  nextjs_frontend/.env.example
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
  nextjs_frontend/src/config/index.ts
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Refactor production path logic in config file
  nextjs_frontend/src/config/index.ts
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin

Add GoogleProvider and move serverURL import in options.ts, add console.log in index.ts
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
  nextjs_frontend/src/config/index.ts
Owners: @JDaniloC, @fpeduu, @karensamara, @Vinicius-resende-cin

Remove GoogleProvider and console.log statements.
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
  nextjs_frontend/src/config/index.ts
Owners: @JDaniloC, @fpeduu, @karensamara, @Vinicius-resende-cin

Update environment variables in Next.js frontend.
  nextjs_frontend/.env.example
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin

Add preview mode authorization option
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
Owners: @JDaniloC, @fpeduu

Update environment variables and configuration. (#4)
  README.md
  nextjs_frontend/.env.example
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
  nextjs_frontend/src/config/index.ts
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

If is testing force test account
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
  nextjs_frontend/src/config/index.ts
Owners: @JDaniloC, @fpeduu, @karensamara, @Vinicius-resende-cin

Improve notification remove function
  nextjs_frontend/src/app/api/proposal/[chatID]/notification.ts
  nextjs_frontend/src/components/Header/components/NotificationFlyMenu/notification-fly-menu.tsx
  nextjs_frontend/src/components/Header/header.tsx
  nextjs_frontend/src/contexts/NotificationContext.tsx
  nextjs_frontend/src/types/notification.dto.ts
  python_backend/main.py
Owners: @JDaniloC, @fpeduu, @karensamara, @Vinicius-resende-cin

Add negotiation infos on chat
  nextjs_frontend/src/app/negociacao/[chatID]/components/Chat/chat.module.scss
  nextjs_frontend/src/app/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/page.tsx
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin

Refactor chat to send messages rather than actions
  nextjs_frontend/public/icons/send.svg
  nextjs_frontend/src/app/api/proposal/[chatID]/notification.ts
  nextjs_frontend/src/app/negociacao/[chatID]/components/Chat/chat.module.scss
  nextjs_frontend/src/app/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/components/Chat/utils.ts
  nextjs_frontend/src/app/negociacao/[chatID]/components/Message/message.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/page.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/types/messages.dto.ts
  nextjs_frontend/src/contexts/NotificationContext.tsx
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Refactor backend routes
  python_backend/main.py
  python_backend/requirements.txt
  python_backend/routes/__init__.py
  python_backend/routes/chats.py
  python_backend/routes/notification.py
  python_backend/utils/__init__.py
  python_backend/utils/config.py
  python_backend/utils/email_funcs.py
  python_backend/utils/manager/__init__.py
  python_backend/utils/manager/chat_manager.py
  python_backend/utils/manager/websocket_manager.py
  python_backend/utils/messages.py
  python_backend/utils/types/__init__.py
  python_backend/utils/types/chat_dto.py
  python_backend/utils/types/websocket_dto.py
Owners: @JDaniloC

Fix thread creation and update proposal messages
  nextjs_frontend/src/app/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/components/Message/messages-templates.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/types/messages.dto.ts
  python_backend/routes/chats.py
  python_backend/utils/manager/chat_manager.py
  python_backend/utils/types/chat_dto.py
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin

Save chat messages
  nextjs_frontend/next.config.js
  nextjs_frontend/src/app/api/chat/route.ts
  nextjs_frontend/src/app/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/page.tsx
  nextjs_frontend/src/app/negociacao/[chatID]/types/messages.dto.ts
  nextjs_frontend/src/models/Messages.tsx
  nextjs_frontend/src/types/negotiation.dto.ts
  nextjs_frontend/yarn.lock
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Receive old messages
  python_backend/utils/types/chat_dto.py
Owners: @JDaniloC

Move api files, updated status steps, and proposal type
  nextjs_frontend/src/app/(authenticated)/agreements/[cpfDevedor]/components/HistoryLineItem/history-line-item.tsx
  nextjs_frontend/src/app/(authenticated)/agreements/[cpfDevedor]/components/StatusBarBig/status-bar-big.tsx
  nextjs_frontend/src/app/(authenticated)/agreements/components/AgreementList/agreement-list.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Message/messages-templates.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/chat-infos.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/page.tsx
  nextjs_frontend/src/app/api/agreements/[cpfDevedor]/route.ts
  nextjs_frontend/src/app/api/agreements/route.ts
  nextjs_frontend/src/app/api/auth/[...nextauth]/options.ts
  nextjs_frontend/src/app/api/auth/[...nextauth]/route.ts
  nextjs_frontend/src/app/api/auth/route.ts
  nextjs_frontend/src/app/api/chat/route.ts
  nextjs_frontend/src/app/api/proposal/[chatID]/notification.ts
  nextjs_frontend/src/app/api/proposal/[chatID]/route.ts
  nextjs_frontend/src/app/api/tenants/[cpfDevedor]/route.ts
  nextjs_frontend/src/app/api/tenants/import/route.ts
  nextjs_frontend/src/app/api/tenants/route.ts
  nextjs_frontend/src/models/Acordos.tsx
  nextjs_frontend/src/services/statusSteps.ts
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Save the progress of chat proposals
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Chat/chat.api.ts
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Chat/chat.module.scss
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/api/chat/chat.dto.ts
  nextjs_frontend/src/app/api/chat/route.ts
  nextjs_frontend/src/app/api/proposal/[chatID]/route.ts
  nextjs_frontend/src/types/negotiation.dto.ts
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Do the delete tenant more secure Try call api again on error
  nextjs_frontend/src/app/(authenticated)/tenants/components/AddTenantModal/add-tenant-modal.tsx
  nextjs_frontend/src/app/(authenticated)/tenants/components/DebtorCard/debtor-card.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/loading.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/page.tsx
  nextjs_frontend/src/app/api/chat/route.ts
  nextjs_frontend/src/app/api/tenants/route.ts
  nextjs_frontend/src/components/Button/button.tsx
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Add page to add tenants more easily
  nextjs_frontend/src/app/(external)/gerar/page.tsx
  nextjs_frontend/src/app/api/test/route.ts
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Hotfix: Fix "window" reference on test page
  nextjs_frontend/src/app/(external)/gerar/page.tsx
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin

Update condominium name of test
  nextjs_frontend/src/app/api/test/route.ts
Owners: @JDaniloC, @fpeduu

Show current proposal while negotiation
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Message/message.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Message/messages-templates.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/chat-infos.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/contexts/chat-context.tsx
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/types/messages.dto.ts
  nextjs_frontend/src/app/api/chat/chat.dto.ts
  nextjs_frontend/src/app/api/chat/route.ts
  nextjs_frontend/src/app/api/proposal/[chatID]/route.ts
  nextjs_frontend/src/types/negotiation.dto.ts
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Enable user input on chat backend
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Chat/chat.api.ts
  nextjs_frontend/src/app/(external)/negociacao/[chatID]/components/Chat/chat.tsx
  nextjs_frontend/src/app/api/chat/chat.dto.ts
  nextjs_frontend/src/app/api/chat/route.ts
  nextjs_frontend/src/types/negotiation.dto.ts
  python_backend/routes/chats.py
  python_backend/utils/__init__.py
  python_backend/utils/manager/chat_manager.py
  python_backend/utils/messages.py
  python_backend/utils/types/__init__.py
  python_backend/utils/types/chat_dto.py
Owners: @JDaniloC, @karensamara, @Vinicius-resende-cin, @fpeduu

Add Bootstrap Venom server
  .gitignore
  nestjs_server/.eslintrc.js
  nestjs_server/.gitignore
  nestjs_server/.prettierrc
  nestjs_server/README.md
  nestjs_server/nest-cli.json
  nestjs_server/package-lock.json
  nestjs_server/package.json
  nestjs_server/src/app.controller.spec.ts
  nestjs_server/src/app.controller.ts
  nestjs_server/src/app.module.ts
  nestjs_server/src/app.service.ts
  nestjs_server/src/main.ts
  nestjs_server/src/whatsapp/venom-options.ts
  nestjs_server/src/whatsapp/whatsapp.service.spec.ts
  nestjs_server/src/whatsapp/whatsapp.service.ts
  nestjs_server/src/whatsapp/whatsapp.spec.ts
  nestjs_server/src/whatsapp/whatsapp.ts
  nestjs_server/test/app.e2e-spec.ts
  nestjs_server/test/jest-e2e.json
  nestjs_server/tsconfig.build.json
  nestjs_server/tsconfig.json
  nestjs_server/yarn.lock
Owners: @JDaniloC

Connect whatsapp server to api server
  nestjs_server/package.json
  nestjs_server/src/app.controller.spec.ts
  nestjs_server/src/app.controller.ts
  nestjs_server/src/app.module.ts
  nestjs_server/src/app.service.ts
  nestjs_server/src/chat/chat.controller.spec.ts
  nestjs_server/src/chat/chat.controller.ts
  nestjs_server/src/chat/chat.dto.ts
  nestjs_server/src/chat/chat.service.spec.ts
  nestjs_server/src/chat/chat.service.ts
  nestjs_server/src/main.ts
  nestjs_server/src/whatsapp/whatsapp.dto.ts
  nestjs_server/src/whatsapp/whatsapp.service.ts
  nestjs_server/yarn.lock
  python_backend/routes/chats.py
Owners: @JDaniloC

Add Heroku and CI/CD
  .github/workflows/actions.yml
  heroku.yml
Owners: @JDaniloC

Add backend and frontend to CI
  .github/workflows/actions.yml
Owners: @JDaniloC

Upgrade node version on CI and set node version on package.json
  .github/workflows/actions.yml
  nestjs_server/package.json
Owners: @JDaniloC

Use docker on heroku and remove github actions (the deploy is already auto)
  .github/workflows/actions.yml
  heroku.yml
  nestjs_server/Dockerfile
  nestjs_server/package.json
Owners: @JDaniloC

Fix docker builder stage of whatsapp server
  nestjs_server/Dockerfile
Owners: @JDaniloC

Set heroku web service to nestjs
  heroku.yml
Owners: @JDaniloC
